.qs_main {
	background-color: #dddddd;
	position: absolute;
	text-align:left;
	width: 150px;
	font: 9px sans-serif;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
  	user-select: none;
  	-webkit-user-select: none;
}

.qs_content {
	background-color: #dddddd;
	overflow-y: auto;
}

.qs_title_bar {
	background-color: #ffffff;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	padding: 3px;
	border: 1px #eeeeee solid;
}

.qs_container {
	margin: 3px;
	padding: 3px;
	background-color: #eeeeee;
}

.qs_range {
	-webkit-appearance: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.qs_range:focus {
  outline: none; 
}

.qs_range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.qs_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 0px;
  background: #999999;
  cursor: pointer;
  margin-top: 0px;
}

.qs_range::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 0px;
  background: #999999;
  cursor: pointer;
}

.qs_range::-ms-thumb {
  height: 10px;
  width: 10px;
  border-radius: 0px;
  background: #999999;
  cursor: pointer;
}

.qs_range::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #cccccc;
  border-radius: 0px;
}

.qs_range:focus::-webkit-slider-runnable-track {
  background: #cccccc;
}

.qs_range::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #cccccc;
  border-radius: 0px;
}

.qs_range::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  color: transparent;
}
.qs_range::-ms-fill-lower {
  background: #cccccc;
  border-radius: 0px;
}
.qs_range:focus::-ms-fill-lower {
  background: #cccccc;
}
.qs_range::-ms-fill-upper {
  background: #cccccc;
  border-radius: 0px;
}
.qs_range:focus::-ms-fill-upper {
  background: #cccccc;
}

.qs_checkbox {
	margin-left: 2px;
}

.qs_checkbox_label {
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.qs_label {
	margin-bottom: 2px;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.qs_color {
	width: 40px;
	font: 9px sans-serif;
	margin: 0px;
}

.qs_button {
	font-size: 9px;
}

.qs_text_input {
  font-size: 9px;
  width: 90%;
}

.qs_select {
  font-size: 9px;
}

.qs_image {
  width: 100%;
}

.qs_progress {
  width: 100%;
}

.qs_textarea {
  font-size: 9px;
  resize: vertical;
  width: 100%;
  padding: 0;
  margin: 0;
}
