.qs_main {
	text-align:left;
	position: absolute;
	width: 200px;
	font: 12px sans-serif;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
	user-select: none;
  	-webkit-user-select: none;
  	background-color: #000000;
	border: 1px solid #999999;
	color: #cccccc;
}

.qs_content {
	background-color: #transparent;
	overflow-y: auto;
}

.qs_title_bar {
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	padding: 5px;
}

.qs_container {
	margin: 5px;
	padding: 5px;
	border: 1px solid #999999;
	background-color: #000000;
}


/* ================== range ================*/

.qs_range {
	-webkit-appearance: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.qs_range:focus {
	outline: none;
}

.qs_range::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

.qs_range::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 0px;
	background: #333333;
	cursor: pointer;
	margin-top: 0px;
}

.qs_range::-moz-range-thumb {
	height: 15px;
	width: 15px;
	border: none;
	border-radius: 0px;
	background: #333333;
	cursor: pointer;
}

.qs_range::-ms-thumb {
	height: 15px;
	width: 15px;
	border-radius: 0px;
	background: #333333;
	cursor: pointer;
}

.qs_range::-webkit-slider-runnable-track {
	width: 100%;
	height: 15px;
	cursor: pointer;
	background: #666666;
	border-radius: 0px;
}

.qs_range:focus::-webkit-slider-runnable-track {
	background: #666666;
}

.qs_range::-moz-range-track {
	width: 100%;
	height: 17px;
	cursor: pointer;
	background: #666666;
	border-radius: 0px;
}

.qs_range::-ms-track {
	width: 100%;
	height: 15px;
	cursor: pointer;
	background: transparent;
	color: transparent;
}
.qs_range::-ms-fill-lower {
	background: #666666;
	border-radius: 0px;
}
.qs_range:focus::-ms-fill-lower {
	background: #666666;
}
.qs_range::-ms-fill-upper {
	background: #666666;
	border-radius: 0px;
}
.qs_range:focus::-ms-fill-upper {
	background: #666666;
}

/* ================== end range ================*/


.qs_checkbox {
	margin-left: 5px;
}

.qs_checkbox_label {
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.qs_label {
	margin-bottom: 3px;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.qs_text_input {
  	width: 90%;
  	padding: 2px;
	background-color: #000000;
	color: #cccccc;
	border: 1px solid #999999;
}

.qs_select {
	background-color: #000000;
	color: #cccccc;
	border: 1px solid #999999;	
}

.qs_button {
	background-color: #000000;
	color: #cccccc;
	border: 1px solid #999999;	
}

.qs_button:active {
	background-color: #333333;
}

.qs_image {
	width: 100%;
}

.qs_progress {
	width: 100%;
}

.qs_textarea {
	resize: vertical;
	width: 100%;
	padding: 2px;
	margin: 0;
	background-color: #000000;
	color: #cccccc;
	border: 1px solid #999999;
}
