.qs_main {
  background-color: #000000;
  text-align: left;
  position: absolute;
  width: 200px;
  font: 12px sans-serif;
  box-shadow: none;
  user-select: none;
  -webkit-user-select: none;
  color: #bbbbbb;
  border: 1px solid #666666;
}
.qs_content {
  background-color: #000000;
  overflow-y: auto;
}
.qs_title_bar {
  background-color: #000000;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  border: none;
  color: #bbbbbb;
}
.qs_container {
  margin: 5px;
  padding: 5px;
  background-color: #000000;
  border: 1px solid #666666;
  position: relative;
}
.qs_container_selected {
  border: 1px solid #cccccc;
  background-color: #000000;
}
/*========== range ==========*/
.qs_range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 17px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.qs_range:focus {
  outline: none;
  border: none;
}
.qs_range::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: #333333;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.qs_range:focus::-webkit-slider-runnable-track {
  background: #333333;
}
.qs_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #111111;
  cursor: pointer;
  margin-top: 0px;
}
.qs_range::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: #333333;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.qs_range::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #111111;
  cursor: pointer;
}
.qs_range::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  visibility: hidden;
  background: transparent;
}
.qs_range::-ms-thumb {
  height: 15px;
  width: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #111111;
  cursor: pointer;
  border: none;
}
.qs_range::-ms-fill-lower {
  background: #333333;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.qs_range:focus::-ms-fill-lower {
  background: #333333;
}
.qs_range::-ms-fill-upper {
  background: #333333;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.qs_range:focus::-ms-fill-upper {
  background: #333333;
}
/*========== end range ==========*/
.qs_button {
  background-color: #000000;
  color: #bbbbbb;
  height: 30px;
  border: 1px solid #666666;
  font: 12px sans-serif;
}
.qs_button:active {
  background-color: #333333;
  border: 1px solid #666666;
}
.qs_button:focus {
  border: 1px solid #666666;
  outline: none;
}
.qs_checkbox {
  cursor: pointer;
  display: inline;
}
.qs_checkbox input {
  position: absolute;
  left: -99999px;
}
.qs_checkbox span {
  height: 16px;
  width: 100%;
  display: block;
  text-indent: 20px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAALklEQVQ4T2NMS0v7z0ABYAQZMGvWLLKMSEtLYxg1YDQMRtMBAwP1woCsrAjVBAB1700hDp2I2AAAAABJRU5ErkJggg==') no-repeat;
}
.qs_checkbox input:checked + span {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvklEQVQ4T63Tyw2EIBAA0OFKCSCdeaYAoAy1AM52JrTAlc2QYHAdjFmWo5l5zgeY1jrDwGEIeO+Bc16YlNIj18ZpraEA+76DMaYkbtvWRTC5jZvn+QoopeA4DhKpyW3MCdQWUKcQKhlbPVtAAA8ViN978A34RkIIwBgDKSXZGglUxFoL0zSVymKMsCzLbbiPgHMOhBClAqxkXdd3QDsH/HPOuVRCbee/Q+ytqredyxrrTfz5Ig1f5eHHNPCa4QMbS/ghxbi89AAAAABJRU5ErkJggg==') no-repeat;
}
.qs_checkbox_label {
  position: absolute;
  top: 7px;
  left: 30px;
}
.qs_label {
  margin-bottom: 3px;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  font: 12px sans-serif;
}
.qs_text_input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 5px;
  height: 24px;
  border: none;
  background-color: #333333;
  color: #bbbbbb;
  font-size: 12px;
}
.qs_text_input:focus {
  outline: none;
  background: #333333;
  border: none;
}
.qs_select {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAn0lEQVRIS+2SwQ3AIAhFPzM4iUe3cTS38eYmzmDzm5jYpgWTpjc4Cv4PDwTAwI8hbmDRdUQWITii74hCCOi9PwppuflB3UFKCTlnlFJQa72YaLm1UDWgOIUYq8kU5zuNmXsL84ruJhTi2444a0yDKTgnGWNARMzOt3awjs2uY4yneGtNxbK9gztXXg3j7aqe9rCFyDx2pcANTHqOyER0AGnMUQHV+W35AAAAAElFTkSuQmCC') no-repeat right #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #bbbbbb;
  width: 100%;
  height: 24px;
  border: 1px solid #666666;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0 5px;
  -moz-outline: none;
  font-size: 14px;
}
.qs_select option {
  font-size: 14px;
}
.qs_select::-ms-expand {
  display: none;
}
.qs_select:focus {
  outline: none;
}
.qs_number {
  height: 24px;
}
.qs_image {
  width: 100%;
}
.qs_progress {
  width: 100%;
  height: 15px;
  background-color: #000000;
  border: 1px solid #666666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.qs_progress_value {
  height: 100%;
  background-color: #444444;
}
.qs_textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  padding: 3px 5px;
  border: none;
  background-color: #333333;
  color: #bbbbbb;
  font-size: 12px;
}
.qs_textarea:focus {
  outline: none;
  background: #333333;
  border: none;
}
.qs_color {
  position: absolute;
  left: -999999px;
}
.qs_color_label {
  width: 100%;
  height: 20px;
  display: block;
  border: 1px solid #666666;
  cursor: pointer;
  padding: 0 0 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.qs_file_chooser {
  position: absolute;
  left: -999999px;
}
.qs_file_chooser_label {
  background-color: #000000;
  color: #bbbbbb;
  height: 30px;
  border: 1px solid #666666;
  font: 12px sans-serif;
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
